.mosaic-gallery {
  display: flex;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
}

.img-column {
  margin: 10px 0;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
}

.imageContainer img {
  object-fit: cover;
  min-width: 250px;
  border-radius: 7px;
}

#gallery h2 {
  font-family: "Tertius Sans Bold", Helvetica, Arial, sans-serif;
  font-size: clamp(1rem, 1rem + 6.8966vw, 5rem);
  color: var(--black);
  font-weight: 600;
}

#gallery p {
  font-size: clamp(1rem, 1rem + 6.8966vw, 3rem);
  font-family: "Tertius Sans Italic", Helvetica, Arial, sans-serif;
  color: var(--black);
  font-weight: 600;
  margin-bottom: 20rem;
}

.gal-txt-wrapper {
  overflow: hidden;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* height: 50vh;
  margin: 0 auto; */
}

.img {
  width: 100%;
  height: 800px;
  background-size: cover;
  /* position: relative;
  z-index: -1; */
}

.img:nth-of-type(1) {
  background-image: url('./images/image1.jpeg');
}

.img:nth-of-type(2) {
  background-image: url('./images/image2.jpeg');
}

.img:nth-of-type(3) {
  background-image: url('./images/image3.jpeg');
}

.img:nth-of-type(4) {
  background-image: url('./images/image13.jpeg');
}

.img:nth-of-type(5) {
  background-image: url('./images/image12.jpeg');
}

.img:nth-of-type(6) {
  background-image: url('./images/image4.jpeg');
}

.img:nth-of-type(7) {
  background-image: url('./images/image5.jpeg');
}

.img:nth-of-type(8) {
  background-image: url('./images/image6.jpeg');
}

.img:nth-of-type(9) {
  background-image: url('./images/image7.jpeg');
}

.img:before {
  content: '';
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 4;
  top: 0;
  left: 0;
  border-right: 1px solid black;
}


.line {
  border-right: 1px solid black;
}