.loader-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-beige);
  position: fixed;
  top: 0;
  z-index: 99;
  transition: border-radius 2s ease-in-out;
}

.loader-wrapper img {
  max-width: 100%;
}
