@font-face {
    font-family: Tertius Sans;
    src: url(../../../assets/fonts/HelveticaNeueMedium.otf);
  }
  
  h1 {
    font-family: "Tertius Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    /* line-height: 1.5rem; */
    color: #000;
  }