@font-face {
  font-family: Tertius Sans Bold;
  src: url(assets/fonts/Geotica-Three/Geotica-Three-W03-Open.ttf);
}

@font-face {
  font-family: Tertius Sans Normal;
  src: url(assets/fonts/GrandCru-LightS/GrandCru-LightS.otf);
}

::selection {
    background: #000;
    color: #FFFAFA;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: #FFFAFA;
}